<h3>Ideas List</h3>
<table class="table table-hover">
  <tbody>
    <% @ideas.each do |idea| %>
      <tr>

        <td class="col-md-2">
        </td>

        <td class="col-md-8">
          <h4><%= link_to idea.title, idea_path(idea) %></h4>
          <p><%= idea.description %></p>
        </td>

        <td class="col-md-2">
        </td>

      </tr>
    <% end %>
  </tbody>
</table>
