.fa-plus-square {
  color: #edcf28;
}

.fa-heart {
  color: #ff4d4d;
}

.fa-heart-o {
  color: #ff4d4d;
}

.button {
  display: inline-block;
  border: 1px solid #e7e7e7;
  border-radius: 2px;
  font-size: 12px;
  padding: 4px 13px;
  margin: 3px;
}

.button:hover {
  background-color: #e7e7e7;
}


#show_icons {
  margin-top: 23px;
}

.share-button {

}

#share_button {
  padding-top: 14px;
}

#toppest_button {
  margin-top: 11px;
}
