// Place all the styles related to the ideas controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/

.fav-icon {

}


#tag_cloud {

  line-height: 1.6em;
  .xs { font-size: 0.6em; }
  .s { font-size: 0.8em; }
  .m { font-size: 1em; }
  .l { font-size: 1.4em; }
  .xl { font-size: 1.8em; }
}
